/* Colors
---------------------------*/
$font-color: #fff;
$link-color : #0056b3;
$body-color: #2C3E50;

/* Fonts
---------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto Slab', serif;



